Repository FuelLabs/fuel-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xgreenx, @Dentosal, @MitchTurner, @rafal-ch, @AurelienFT, @rymnc, @netrome, @acerone85

.github/CODEOWNERS:

# Default code owners for fuel-core
* @xgreenx @Dentosal @MitchTurner

# Code owners for the gas price algorithm
crates/fuel-gas-price-algorithm @xgreenx @Dentosal @MitchTurner @rafal-ch

# Code owners for the transaction pool
crates/services/txpool_v2 @xgreenx @Dentosal @MitchTurner @AurelienFT

# Code owners for the gas price service (v0 & v1)
crates/services/gas_price_service @xgreenx @Dentosal @MitchTurner @rymnc

# Code owners for the GraphQL API
crates/fuel-core/src/graphql_api @xgreenx @Dentosal @MitchTurner @netrome @acerone85
crates/fuel-core/src/graphql_api.rs @xgreenx @Dentosal @MitchTurner @netrome @acerone85
crates/fuel-core/src/schema.rs @xgreenx @Dentosal @MitchTurner @netrome @acerone85
crates/fuel-core/src/schema.sdl @xgreenx @Dentosal @MitchTurner @netrome @acerone85
crates/fuel-core/src/query @xgreenx @Dentosal @MitchTurner @netrome @acerone85

# Code owners for the indexation
crates/fuel-core/src/graphql_api/indexation @xgreenx @Dentosal @MitchTurner @rafal-ch

# Code owners for the client
crates/client @xgreenx @Dentosal @MitchTurner @netrome

# Code owners for the integration tests
tests/ @xgreenx @Dentosal @MitchTurner @netrome

# Code owners for benches
benches/ @xgreenx @Dentosal @MitchTurner @netrome

# Code owners for docs
docs/ @xgreenx @Dentosal @MitchTurner @netrome

fix(integration_tests): remove flake from produce_block__l1_committed_block_affects_gas_price (#2566)
  tests/tests/gas_price.rs
Owners: @xgreenx, @Dentosal, @MitchTurner, @netrome

fault_proving(compression): include commitment to registry in compressed block header
  CHANGELOG.md
  Cargo.lock
  crates/compression/Cargo.toml
  crates/compression/src/compressed_block_payload/mod.rs
  crates/compression/src/compressed_block_payload/v1.rs
  crates/compression/src/lib.rs
  crates/compression/src/registry.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

Add wasm executor support
  Cargo.lock
  crates/client/assets/schema.sdl
  crates/client/src/client.rs
  crates/client/src/client/schema/storage_read_replay.rs
  crates/fuel-core/src/graphql_api/ports.rs
  crates/fuel-core/src/schema/tx.rs
  crates/fuel-core/src/service/adapters/graphql_api.rs
  crates/fuel-core/src/service/adapters/producer.rs
  crates/services/executor/src/executor.rs
  crates/services/producer/src/block_producer.rs
  crates/services/producer/src/ports.rs
  crates/services/upgradable-executor/Cargo.toml
  crates/services/upgradable-executor/src/executor.rs
  crates/services/upgradable-executor/src/lib.rs
  crates/services/upgradable-executor/src/relayer_recorder.rs
  crates/services/upgradable-executor/src/storage_access_recorder.rs
  crates/types/Cargo.toml
  crates/types/src/services/executor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner, @netrome, @acerone85

try to fix cargo audit
  .github/workflows/ci.yml
  .github/workflows/nightly-cargo-audit.yml
Owners: @xgreenx, @Dentosal, @MitchTurner

try again audit
  .github/workflows/ci.yml
  .github/workflows/nightly-cargo-audit.yml
Owners: @xgreenx, @Dentosal, @MitchTurner

try fix the audit again
  .github/workflows/ci.yml
  .github/workflows/nightly-cargo-audit.yml
Owners: @xgreenx, @Dentosal, @MitchTurner

fix spelling
  CHANGELOG.md
Owners: @xgreenx, @Dentosal, @MitchTurner

fix audit and try to fix backwaard compativility tests
  .cargo/audit.toml
  .github/workflows/ci.yml
Owners: @xgreenx, @Dentosal, @MitchTurner

Avoid sleeping in test
  crates/services/src/async_processor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

try to pin async graphql versions
  .cargo/audit.toml
  version-compatibility/forkless-upgrade/Cargo.toml
Owners: @xgreenx, @Dentosal, @MitchTurner

Update assertions
  crates/services/src/async_processor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

remove unwanted locked
  .github/workflows/ci.yml
Owners: @xgreenx, @Dentosal, @MitchTurner

Reduce the arbitrary number of tasks
  crates/services/src/async_processor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

fix unused crates
  version-compatibility/forkless-upgrade/src/lib.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

Clean-up comment
  crates/services/src/async_processor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

Rename some tests for clarity and update some assertions
  crates/services/src/async_processor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

Convert some lets into consts
  crates/services/src/async_processor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

Fix assertion
  crates/services/src/async_processor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

Update comment
  crates/services/src/async_processor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

fix unused dependencies for compilation
  version-compatibility/forkless-upgrade/src/lib.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

Node info stats backport (#2573)
  .cargo/audit.toml
  .github/workflows/ci.yml
  .github/workflows/nightly-cargo-audit.yml
  CHANGELOG.md
  crates/client/assets/schema.sdl
  crates/client/src/client/schema/node_info.rs
  crates/client/src/client/schema/snapshots/fuel_core_client__client__schema__node_info__tests__node_info_query_gql_output.snap
  crates/client/src/client/types/node_info.rs
  crates/fuel-core/src/graphql_api.rs
  crates/fuel-core/src/graphql_api/ports.rs
  crates/fuel-core/src/schema/node_info.rs
  crates/fuel-core/src/service/adapters/graphql_api.rs
  crates/fuel-core/src/service/sub_services.rs
  crates/services/txpool_v2/src/lib.rs
  crates/services/txpool_v2/src/pool.rs
  crates/services/txpool_v2/src/service.rs
  crates/services/txpool_v2/src/shared_state.rs
  crates/services/txpool_v2/src/tests/universe.rs
  tests/tests/node_info.rs
  version-compatibility/forkless-upgrade/Cargo.toml
  version-compatibility/forkless-upgrade/src/lib.rs
Owners: @xgreenx, @Dentosal, @MitchTurner, @netrome, @acerone85, @AurelienFT

Bump the version of the `fuel-core` to 0.40.3
  Cargo.lock
  Cargo.toml
  crates/services/upgradable-executor/src/executor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

Update changelog
  CHANGELOG.md
Owners: @xgreenx, @Dentosal, @MitchTurner

Bump the version of the `fuel-core` to 0.40.3 (#2578)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/services/upgradable-executor/src/executor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

fix async graphql versions
  crates/fuel-core/Cargo.toml
Owners: @xgreenx, @Dentosal, @MitchTurner

Update `height_expiration_txs` to not grow indefinitely
  crates/services/txpool_v2/src/pool.rs
  crates/services/txpool_v2/src/service.rs
  crates/services/txpool_v2/src/service/pruner.rs
Owners: @xgreenx, @Dentosal, @MitchTurner, @AurelienFT

Satisfy Clippy
  crates/services/src/async_processor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner

Add changelog and change lock times
  CHANGELOG.md
  crates/services/txpool_v2/src/service.rs
Owners: @xgreenx, @Dentosal, @MitchTurner, @AurelienFT

Update cross install
  .github/workflows/ci.yml
Owners: @xgreenx, @Dentosal, @MitchTurner

Add assert to verify that tasks are not executed in parallel when they're not supposed to
  crates/services/src/async_processor.rs
Owners: @xgreenx, @Dentosal, @MitchTurner
