Repository FuelLabs/fuel-core, pull requests merged in 2022-10, with the labels that each got.

#664 Remove Feature Flags from Tx Gossiping
  fuel-block-producer/Cargo.toml
  fuel-block-producer/tests/integration.rs
  fuel-core/Cargo.toml
  fuel-core/src/service/modules.rs
  fuel-txpool/Cargo.toml
  fuel-txpool/src/service.rs
  fuel-txpool/src/txpool.rs
Labels: fuel-txpool

#590 Connect P2p with TxPool
  fuel-block-producer/Cargo.toml
  fuel-block-producer/tests/integration.rs
  fuel-core-interfaces/src/p2p.rs
  fuel-core-interfaces/src/txpool.rs
  fuel-core/src/lib.rs
  fuel-core/src/service/modules.rs
  fuel-p2p/src/config.rs
  fuel-p2p/src/orchestrator.rs
  fuel-relayer/src/service.rs
  fuel-tests/Cargo.toml
  fuel-tests/tests/lib.rs
  fuel-tests/tests/tx_gossip.rs
  fuel-txpool/src/service.rs
  fuel-txpool/src/txpool.rs
  fuel-txpool/src/types.rs
Labels: fuel-txpool

#661 update libp2p to v0.48
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Cargo.lock
  README.md
  fuel-p2p/Cargo.toml
  fuel-p2p/src/behavior.rs
  fuel-p2p/src/config.rs
  fuel-p2p/src/discovery.rs
  fuel-p2p/src/discovery/discovery_config.rs
  fuel-p2p/src/discovery/mdns.rs
  fuel-p2p/src/orchestrator.rs
  fuel-p2p/src/peer_info.rs
  fuel-p2p/src/service.rs
Labels: enhancement, fuel-p2p

#688 Require test-utils feature in fuel-txpool
  fuel-txpool/Cargo.toml
Labels: fuel-txpool

#599 Block production trigger
  Cargo.lock
  Cargo.toml
  fuel-block-producer/src/block_producer.rs
  fuel-block-producer/src/block_producer/tests.rs
  fuel-block-producer/src/config.rs
  fuel-block-producer/tests/integration.rs
  fuel-chain-config/Cargo.toml
  fuel-chain-config/src/config/chain.rs
  fuel-chain-config/src/snapshots/fuel_chain_config__config__tests__snapshot_configurable_block_height.snap
  fuel-chain-config/src/snapshots/fuel_chain_config__config__tests__snapshot_contract_with_balances.snap
  fuel-chain-config/src/snapshots/fuel_chain_config__config__tests__snapshot_contract_with_state.snap
  fuel-chain-config/src/snapshots/fuel_chain_config__config__tests__snapshot_local_testnet_config.snap
  fuel-chain-config/src/snapshots/fuel_chain_config__config__tests__snapshot_simple_coin_state.snap
  fuel-chain-config/src/snapshots/fuel_chain_config__config__tests__snapshot_simple_contract.snap
  fuel-chain-config/src/snapshots/fuel_chain_config__config__tests__snapshot_simple_message_state.snap
  fuel-core-interfaces/src/block_producer.rs
  fuel-core-interfaces/src/lib.rs
  fuel-core-interfaces/src/poa_coordinator.rs
  fuel-core-interfaces/src/txpool.rs
  fuel-core/Cargo.toml
  fuel-core/src/cli/run.rs
  fuel-core/src/cli/snapshot.rs
  fuel-core/src/database.rs
  fuel-core/src/service/config.rs
  fuel-core/src/service/graph_api.rs
  fuel-core/src/service/modules.rs
  fuel-poa-coordinator/Cargo.toml
  fuel-poa-coordinator/README.md
  fuel-poa-coordinator/src/config.rs
  fuel-poa-coordinator/src/deadline_clock.rs
  fuel-poa-coordinator/src/lib.rs
  fuel-poa-coordinator/src/service.rs
  fuel-poa-coordinator/tests/test_trigger.rs
  fuel-sync/src/service.rs
  fuel-txpool/src/service.rs
  fuel-txpool/src/txpool.rs
Labels: enhancement, fuel-block-producer, fuel-txpool, fuel-core

#698 Set eth block height on new blocks
  fuel-core/src/executor.rs
  fuel-core/src/service.rs
  fuel-tests/tests/relayer.rs
Labels: fuel-relayer

#699 bump to release v0.11.0
  Cargo.lock
  deployment/charts/Chart.yaml
  fuel-block-executor/Cargo.toml
  fuel-block-importer/Cargo.toml
  fuel-block-producer/Cargo.toml
  fuel-chain-config/Cargo.toml
  fuel-client/Cargo.toml
  fuel-core-bft/Cargo.toml
  fuel-core-interfaces/Cargo.toml
  fuel-core/Cargo.toml
  fuel-metrics/Cargo.toml
  fuel-p2p/Cargo.toml
  fuel-poa-coordinator/Cargo.toml
  fuel-relayer/Cargo.toml
  fuel-sync/Cargo.toml
  fuel-txpool/Cargo.toml
Labels: breaking

#663 [RFC] fuel-core architecture proposal
  docs/architecture.md
  docs/poa/flows.md
Labels: question, architecture

#719 Create a BlockId type for safe conversion to Message
  fuel-block-producer/src/block_producer.rs
  fuel-core-interfaces/src/executor.rs
  fuel-core-interfaces/src/model.rs
  fuel-core-interfaces/src/model/block.rs
  fuel-core-interfaces/src/poa_coordinator.rs
  fuel-core/src/database.rs
  fuel-core/src/executor.rs
  fuel-core/src/schema/block.rs
  fuel-core/src/schema/tx/types.rs
  fuel-core/src/tx_pool.rs
  fuel-poa-coordinator/src/service.rs
  fuel-poa-coordinator/tests/test_trigger.rs
  fuel-tests/tests/blocks.rs
  fuel-tests/tests/poa.rs
Labels: enhancement, fuel-core-interfaces, tech-debt

#691 Enable withdrawals
  .gitignore
  Cargo.lock
  fuel-client/assets/schema.sdl
  fuel-client/src/client.rs
  fuel-client/src/client/schema/block.rs
  fuel-client/src/client/schema/message.rs
  fuel-client/src/client/schema/primitives.rs
  fuel-client/src/client/schema/snapshots/fuel_gql_client__client__schema__block__tests__block_by_id_query_gql_output.snap
  fuel-client/src/client/schema/snapshots/fuel_gql_client__client__schema__block__tests__blocks_connection_query_gql_output.snap
  fuel-client/src/client/schema/snapshots/fuel_gql_client__client__schema__chain__tests__chain_gql_query_output.snap
  fuel-core-interfaces/src/model/messages.rs
  fuel-core/Cargo.toml
  fuel-core/src/lib.rs
  fuel-core/src/query.rs
  fuel-core/src/query/message_proof.rs
  fuel-core/src/query/message_proof/test.rs
  fuel-core/src/schema/block.rs
  fuel-core/src/schema/chain.rs
  fuel-core/src/schema/message.rs
  fuel-core/src/schema/scalars.rs
  fuel-core/src/schema/tx/types.rs
  fuel-tests/tests/blocks.rs
  fuel-tests/tests/messages.rs
  fuel-tests/tests/tx/utxo_validation.rs
Labels: graphql-api

#725 Add support for custom timestamps
  fuel-client/assets/schema.sdl
  fuel-client/src/client.rs
  fuel-client/src/client/schema/block.rs
  fuel-client/src/client/schema/snapshots/fuel_gql_client__client__schema__block__tests__block_mutation_query_gql_output.snap
  fuel-core/src/database.rs
  fuel-core/src/database/block.rs
  fuel-core/src/schema/block.rs
  fuel-tests/tests/blocks.rs
Labels: enhancement, fuel-block-executor, graphql-api

#716 Refactoring of getters/setters/offset and adapt `fuel-core`
  Cargo.lock
  fuel-benches/src/lib.rs
  fuel-block-producer/src/adapters.rs
  fuel-block-producer/src/adapters/transaction_selector.rs
  fuel-block-producer/src/block_producer.rs
  fuel-block-producer/src/mocks.rs
  fuel-block-producer/src/ports.rs
  fuel-block-producer/tests/integration.rs
  fuel-client/Cargo.toml
  fuel-client/assets/schema.sdl
  fuel-client/src/client/schema/snapshots/fuel_gql_client__client__schema__tx__tests__transparent_transaction_by_id_query_gql_output.snap
  fuel-client/src/client/schema/tx/transparent_tx.rs
  fuel-core-interfaces/Cargo.toml
  fuel-core-interfaces/src/executor.rs
  fuel-core-interfaces/src/model.rs
  fuel-core-interfaces/src/model/block.rs
  fuel-core-interfaces/src/model/txpool.rs
  fuel-core-interfaces/src/txpool.rs
  fuel-core/src/executor.rs
  fuel-core/src/query/message_proof.rs
  fuel-core/src/query/message_proof/test.rs
  fuel-core/src/schema/dap.rs
  fuel-core/src/schema/message.rs
  fuel-core/src/schema/tx.rs
  fuel-core/src/schema/tx/types.rs
  fuel-core/src/service/modules.rs
  fuel-p2p/src/service.rs
  fuel-poa-coordinator/tests/test_trigger.rs
  fuel-tests/tests/balances.rs
  fuel-tests/tests/blocks.rs
  fuel-tests/tests/helpers.rs
  fuel-tests/tests/messages.rs
  fuel-tests/tests/metrics.rs
  fuel-tests/tests/poa.rs
  fuel-tests/tests/relayer.rs
  fuel-tests/tests/tx.rs
  fuel-tests/tests/tx/predicates.rs
  fuel-tests/tests/tx/utxo_validation.rs
  fuel-tests/tests/tx_gossip.rs
  fuel-txpool/src/containers/dependency.rs
  fuel-txpool/src/containers/price_sort.rs
  fuel-txpool/src/service.rs
  fuel-txpool/src/service/test_helpers.rs
  fuel-txpool/src/service/tests.rs
  fuel-txpool/src/service/tests_p2p.rs
  fuel-txpool/src/txpool.rs
  fuel-txpool/src/types.rs
Labels: breaking

#726 Implementation of the coinbase logic
  fuel-block-producer/src/block_producer.rs
  fuel-block-producer/src/config.rs
  fuel-block-producer/tests/integration.rs
  fuel-client/assets/schema.sdl
  fuel-client/src/client/schema/tx.rs
  fuel-client/src/client/types.rs
  fuel-core-interfaces/src/executor.rs
  fuel-core/src/cli/run.rs
  fuel-core/src/database.rs
  fuel-core/src/executor.rs
  fuel-core/src/query/message_proof/test.rs
  fuel-core/src/schema/tx/types.rs
  fuel-core/src/tx_pool.rs
  fuel-tests/tests/tx.rs
  fuel-tests/tests/tx/utxo_validation.rs
Labels: breaking

#734 Add metrics config option
  fuel-block-executor/src/config.rs
  fuel-block-importer/src/config.rs
  fuel-block-producer/src/config.rs
  fuel-block-producer/tests/integration.rs
  fuel-core/src/cli/run.rs
  fuel-core/src/cli/run/p2p.rs
  fuel-core/src/cli/run/relayer.rs
  fuel-core/src/service/modules.rs
  fuel-p2p/src/config.rs
  fuel-poa-coordinator/src/config.rs
  fuel-poa-coordinator/tests/test_trigger.rs
  fuel-relayer/src/config.rs
  fuel-txpool/src/config.rs
Labels: breaking

#737 Bugfix: dry run doesn't work for `Create`
  fuel-block-producer/src/block_producer.rs
  fuel-tests/tests/tx.rs
Labels: bug
