Repository FuelLabs/fuel-core, pull requests merged in 2023-03, with the labels that each got.

#1012 Prepare GraphQL Crate for extraction
  crates/fuel-core/src/database.rs
  crates/fuel-core/src/database/balances.rs
  crates/fuel-core/src/database/block.rs
  crates/fuel-core/src/database/coin.rs
  crates/fuel-core/src/database/contracts.rs
  crates/fuel-core/src/database/message.rs
  crates/fuel-core/src/database/state.rs
  crates/fuel-core/src/database/transactions.rs
  crates/fuel-core/src/database/vm_database.rs
  crates/fuel-core/src/graphql_api/ports.rs
  crates/fuel-core/src/graphql_api/service.rs
  crates/fuel-core/src/lib.rs
  crates/fuel-core/src/query/balance.rs
  crates/fuel-core/src/query/balance/asset_query.rs
  crates/fuel-core/src/query/block.rs
  crates/fuel-core/src/query/chain.rs
  crates/fuel-core/src/query/coin.rs
  crates/fuel-core/src/query/contract.rs
  crates/fuel-core/src/query/message.rs
  crates/fuel-core/src/query/message/test.rs
  crates/fuel-core/src/query/tx.rs
  crates/fuel-core/src/resource_query.rs
  crates/fuel-core/src/schema.rs
  crates/fuel-core/src/schema/balance.rs
  crates/fuel-core/src/schema/block.rs
  crates/fuel-core/src/schema/chain.rs
  crates/fuel-core/src/schema/coin.rs
  crates/fuel-core/src/schema/contract.rs
  crates/fuel-core/src/schema/message.rs
  crates/fuel-core/src/schema/tx.rs
  crates/fuel-core/src/schema/tx/types.rs
  crates/fuel-core/src/service/adapters/graphql_api.rs
  crates/fuel-core/src/service/sub_services.rs
  crates/fuel-core/src/state.rs
  crates/fuel-core/src/state/rocks_db.rs
  crates/storage/src/iter.rs
Labels: graphql-api

#1062 Support large contract deployments over p2p
  .github/workflows/ci.yml
  Cargo.lock
  bin/e2e-test-client/Cargo.toml
  bin/e2e-test-client/src/config.rs
  bin/e2e-test-client/src/main.rs
  bin/e2e-test-client/src/snapshots/fuel_core_e2e_client__config__tests__default_config_snapshot.snap
  bin/e2e-test-client/src/test_context.rs
  bin/e2e-test-client/src/tests.rs
  bin/e2e-test-client/src/tests/contracts.rs
  bin/e2e-test-client/tests/integration_tests.rs
  bin/fuel-core/Cargo.toml
  bin/fuel-core/src/cli/run/p2p.rs
  crates/services/p2p/src/config.rs
  crates/services/p2p/src/gossipsub/config.rs
  deployment/charts/templates/fuel-core-deploy.yaml
  deployment/charts/values.yaml
  deployment/ingress/eks/fuel-core-ingress.yaml
  deployment/scripts/.env
Labels: bug

#1059 Take into account the previous block timestamp during block production
  bin/e2e-test-client/src/test_context.rs
  crates/client/assets/schema.sdl
  crates/client/src/client.rs
  crates/client/src/client/schema/block.rs
  crates/client/src/client/schema/snapshots/fuel_core_client__client__schema__block__tests__block_mutation_query_gql_output.snap
  crates/fuel-core/src/graphql_api/ports.rs
  crates/fuel-core/src/schema/block.rs
  crates/fuel-core/src/service/adapters/consensus_module/poa.rs
  crates/fuel-core/src/service/config.rs
  crates/fuel-core/src/service/sub_services.rs
  crates/services/consensus_module/poa/src/ports.rs
  crates/services/consensus_module/poa/src/service.rs
  crates/services/consensus_module/poa/src/service_test.rs
  crates/services/consensus_module/poa/src/service_test/manually_produce_tests.rs
  crates/services/producer/src/block_producer.rs
  crates/services/producer/src/block_producer/tests.rs
  crates/services/txpool/src/service.rs
  crates/services/txpool/src/txpool.rs
  crates/types/src/blockchain/header.rs
  tests/tests/blocks.rs
Labels: breaking, graphql-api
