Repository FuelLabs/fuel-core, pull requests merged in 2023-01, with the labels that each got.

#873 add p2p connection limits
  bin/fuel-core/src/cli/run/p2p.rs
  crates/services/p2p/src/behavior.rs
  crates/services/p2p/src/config.rs
  crates/services/p2p/src/discovery.rs
  crates/services/p2p/src/p2p_service.rs
  crates/services/p2p/src/peer_info.rs
Labels: fuel-p2p

#876 add peer manager
  Cargo.lock
  bin/fuel-core/src/cli/run/p2p.rs
  crates/services/p2p/Cargo.toml
  crates/services/p2p/src/behavior.rs
  crates/services/p2p/src/config.rs
  crates/services/p2p/src/config/connection_tracker.rs
  crates/services/p2p/src/config/fuel_authenticated.rs
  crates/services/p2p/src/config/fuel_upgrade.rs
  crates/services/p2p/src/config/guarded_node.rs
  crates/services/p2p/src/discovery.rs
  crates/services/p2p/src/discovery/discovery_config.rs
  crates/services/p2p/src/lib.rs
  crates/services/p2p/src/p2p_service.rs
  crates/services/p2p/src/peer_info.rs
  crates/services/p2p/src/peer_manager.rs
  crates/services/p2p/src/service.rs
Labels: fuel-p2p

#889 fuel-core-sync
  .gitignore
  Cargo.lock
  crates/services/Cargo.toml
  crates/services/src/lib.rs
  crates/services/src/service.rs
  crates/services/src/state.rs
  crates/services/sync/Cargo.toml
  crates/services/sync/src/config.rs
  crates/services/sync/src/import.rs
  crates/services/sync/src/import/back_pressure_tests.rs
  crates/services/sync/src/import/tests.rs
  crates/services/sync/src/lib.rs
  crates/services/sync/src/ports.rs
  crates/services/sync/src/service.rs
  crates/services/sync/src/service/tests.rs
  crates/services/sync/src/state.rs
  crates/services/sync/src/state/test.rs
  crates/services/sync/src/sync.rs
  crates/services/sync/src/sync/tests.rs
  crates/types/src/blockchain/block.rs
  crates/types/src/blockchain/header.rs
  crates/types/src/services/p2p.rs
Labels: fuel-sync

#921 Return back the "Output Bech32Address for initial accounts" change.
  Cargo.lock
  crates/chain-config/Cargo.toml
  crates/chain-config/src/config/chain.rs
Labels: enhancement

#914 Enable p2p in docker
  bin/fuel-core/Cargo.toml
  deployment/Dockerfile
Labels: fuel-p2p

#903 Implementation of the block importer
  Cargo.lock
  crates/fuel-core/src/executor.rs
  crates/fuel-core/src/graphql_api.rs
  crates/fuel-core/src/query/message_proof/test.rs
  crates/fuel-core/src/schema/block.rs
  crates/fuel-core/src/service/genesis.rs
  crates/services/importer/Cargo.toml
  crates/services/importer/src/config.rs
  crates/services/importer/src/importer.rs
  crates/services/importer/src/importer/test.rs
  crates/services/importer/src/lib.rs
  crates/services/importer/src/ports.rs
  crates/services/importer/src/service.rs
  crates/services/producer/src/block_producer.rs
  crates/services/producer/src/block_producer/tests.rs
  crates/storage/src/lib.rs
  crates/storage/src/test_helpers.rs
  crates/types/src/blockchain/block.rs
  crates/types/src/blockchain/consensus.rs
  crates/types/src/blockchain/consensus/poa.rs
  crates/types/src/blockchain/header.rs
  crates/types/src/services.rs
  crates/types/src/services/block_importer.rs
  crates/types/src/services/executor.rs
  tests/tests/blocks.rs
Labels: fuel-block-importer

#922 Add descriptions for high-level cli commands
  bin/fuel-core/src/cli/run.rs
  bin/fuel-core/src/cli/snapshot.rs
Labels: enhancement

#916 External block verifier
  Cargo.lock
  Cargo.toml
  README.md
  bin/fuel-core/Cargo.toml
  bin/fuel-core/src/cli/run.rs
  bin/fuel-core/src/cli/run/consensus.rs
  bin/fuel-core/src/cli/run/relayer.rs
  bin/fuel-core/src/cli/snapshot.rs
  crates/chain-config/Cargo.toml
  crates/chain-config/src/config/chain.rs
  crates/chain-config/src/lib.rs
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_configurable_block_height.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_contract_with_balances.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_contract_with_state.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_local_testnet_config.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_simple_coin_state.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_simple_contract.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_simple_message_state.snap
  crates/fuel-core/Cargo.toml
  crates/fuel-core/src/service/config.rs
  crates/fuel-core/src/service/sub_services.rs
  crates/services/consensus_module/Cargo.toml
  crates/services/consensus_module/poa/Cargo.toml
  crates/services/consensus_module/poa/src/config.rs
  crates/services/consensus_module/poa/src/lib.rs
  crates/services/consensus_module/poa/src/service.rs
  crates/services/consensus_module/poa/src/verifier.rs
  crates/services/consensus_module/poa/src/verifier/tests.rs
  crates/services/consensus_module/src/block_verifier.rs
  crates/services/consensus_module/src/block_verifier/config.rs
  crates/services/consensus_module/src/block_verifier/tests.rs
  crates/services/consensus_module/src/lib.rs
  tests/tests/trigger_integration/hybrid.rs
  tests/tests/trigger_integration/instant.rs
  tests/tests/trigger_integration/interval.rs
  tests/tests/trigger_integration/never.rs
  tests/tests/tx/txn_status_subscription.rs
Labels: fuel-block-importer

#915 Connect the block importer with outside world
  .github/workflows/ci.yml
  Cargo.lock
  crates/chain-config/src/config/state.rs
  crates/fuel-core/Cargo.toml
  crates/fuel-core/src/database.rs
  crates/fuel-core/src/database/block.rs
  crates/fuel-core/src/database/metadata.rs
  crates/fuel-core/src/database/p2p.rs
  crates/fuel-core/src/database/sealed_block.rs
  crates/fuel-core/src/database/storage.rs
  crates/fuel-core/src/database/vm_database.rs
  crates/fuel-core/src/graphql_api/ports.rs
  crates/fuel-core/src/graphql_api/service.rs
  crates/fuel-core/src/query/block.rs
  crates/fuel-core/src/schema/block.rs
  crates/fuel-core/src/schema/dap.rs
  crates/fuel-core/src/schema/tx.rs
  crates/fuel-core/src/service.rs
  crates/fuel-core/src/service/adapters.rs
  crates/fuel-core/src/service/adapters/block_importer.rs
  crates/fuel-core/src/service/adapters/consensus_module.rs
  crates/fuel-core/src/service/adapters/consensus_module/poa.rs
  crates/fuel-core/src/service/adapters/graphql_api.rs
  crates/fuel-core/src/service/adapters/producer.rs
  crates/fuel-core/src/service/adapters/txpool.rs
  crates/fuel-core/src/service/config.rs
  crates/fuel-core/src/service/genesis.rs
  crates/fuel-core/src/service/sub_services.rs
  crates/services/consensus_module/poa/src/ports.rs
  crates/services/consensus_module/poa/src/service.rs
  crates/services/consensus_module/poa/src/service_test.rs
  crates/services/consensus_module/poa/src/service_test/manually_produce_tests.rs
  crates/services/consensus_module/poa/src/service_test/trigger_tests.rs
  crates/services/p2p/src/ports.rs
  crates/services/p2p/src/service.rs
  crates/services/producer/src/block_producer.rs
  crates/services/producer/src/block_producer/tests.rs
  crates/services/producer/src/mocks.rs
  crates/services/producer/src/ports.rs
  crates/services/txpool/src/ports.rs
  crates/services/txpool/src/service.rs
  crates/services/txpool/src/service/test_helpers.rs
  crates/services/txpool/src/txpool.rs
  crates/storage/src/tables.rs
  crates/storage/src/test_helpers.rs
  tests/tests/blocks.rs
Labels: fuel-block-importer

#911 heartbeat protocol
  Cargo.lock
  crates/fuel-core/src/database.rs
  crates/fuel-core/src/database/p2p.rs
  crates/fuel-core/src/service/adapters.rs
  crates/fuel-core/src/service/adapters/p2p.rs
  crates/fuel-core/src/service/sub_services.rs
  crates/services/p2p/Cargo.toml
  crates/services/p2p/src/behavior.rs
  crates/services/p2p/src/heartbeat.rs
  crates/services/p2p/src/heartbeat/handler.rs
  crates/services/p2p/src/lib.rs
  crates/services/p2p/src/p2p_service.rs
  crates/services/p2p/src/peer_manager.rs
  crates/services/p2p/src/ports.rs
  crates/services/p2p/src/service.rs
  crates/services/src/state.rs
  crates/types/src/services/p2p.rs
Labels: fuel-p2p

#925 Support Configuring Clap via ENV vars
  .gitignore
  Cargo.lock
  benches/benches-outputs/src/test_gas_costs_output.rs
  bin/fuel-core-client/Cargo.toml
  bin/fuel-core-keygen/Cargo.toml
  bin/fuel-core/src/cli/run.rs
  bin/fuel-core/src/cli/run/consensus.rs
  bin/fuel-core/src/cli/run/p2p.rs
  bin/fuel-core/src/cli/run/relayer.rs
  xtask/Cargo.toml
Labels: enhancement

#919 request response for get transactions & sealed header from p2p network
  Cargo.lock
  crates/fuel-core/src/database/sealed_block.rs
  crates/fuel-core/src/service/adapters/p2p.rs
  crates/services/p2p/Cargo.toml
  crates/services/p2p/src/behavior.rs
  crates/services/p2p/src/codecs.rs
  crates/services/p2p/src/codecs/bincode.rs
  crates/services/p2p/src/p2p_service.rs
  crates/services/p2p/src/ports.rs
  crates/services/p2p/src/request_response/messages.rs
  crates/services/p2p/src/service.rs
  crates/types/src/blockchain/primitives.rs
Labels: fuel-p2p

#924 Integrate fuel-core-sync with importer and p2p
  Cargo.lock
  bin/fuel-core/src/cli/run.rs
  bin/fuel-core/src/cli/run/p2p.rs
  crates/chain-config/src/config.rs
  crates/chain-config/src/config/chain.rs
  crates/chain-config/src/config/consensus.rs
  crates/chain-config/src/lib.rs
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_configurable_block_height.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_contract_with_balances.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_contract_with_state.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_local_testnet_config.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_simple_coin_state.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_simple_contract.snap
  crates/chain-config/src/snapshots/fuel_core_chain_config__config__tests__snapshot_simple_message_state.snap
  crates/fuel-core/Cargo.toml
  crates/fuel-core/src/lib.rs
  crates/fuel-core/src/service.rs
  crates/fuel-core/src/service/adapters.rs
  crates/fuel-core/src/service/adapters/block_importer.rs
  crates/fuel-core/src/service/adapters/sync.rs
  crates/fuel-core/src/service/config.rs
  crates/fuel-core/src/service/sub_services.rs
  crates/services/consensus_module/poa/Cargo.toml
  crates/services/consensus_module/poa/src/verifier.rs
  crates/services/consensus_module/src/block_verifier.rs
  crates/services/p2p/src/behavior.rs
  crates/services/p2p/src/p2p_service.rs
  crates/services/p2p/src/peer_manager.rs
  crates/services/p2p/src/service.rs
  crates/services/sync/src/import.rs
  crates/services/sync/src/import/back_pressure_tests.rs
  crates/services/sync/src/import/tests.rs
  crates/services/sync/src/lib.rs
  crates/services/sync/src/ports.rs
  crates/services/sync/src/service.rs
  crates/services/sync/src/service/tests.rs
  crates/types/src/blockchain/header.rs
  tests/tests/lib.rs
  tests/tests/sync.rs
Labels: fuel-sync

#927 update expected services check for when p2p is enabled
  crates/fuel-core/src/service.rs
Labels: bug

#932 Add trace logging to fuel core
  Cargo.lock
  Cargo.toml
  crates/database/Cargo.toml
  crates/database/src/lib.rs
  crates/fuel-core/Cargo.toml
  crates/fuel-core/src/lib.rs
  crates/services/executor/Cargo.toml
  crates/services/executor/src/lib.rs
  crates/services/importer/Cargo.toml
  crates/services/importer/src/lib.rs
  crates/services/p2p/Cargo.toml
  crates/services/p2p/src/lib.rs
  crates/services/p2p/src/p2p_service.rs
  crates/services/producer/Cargo.toml
  crates/services/producer/src/lib.rs
  crates/services/relayer/Cargo.toml
  crates/services/relayer/src/lib.rs
  crates/services/relayer/tests/integration.rs
  crates/services/sync/Cargo.toml
  crates/services/sync/src/lib.rs
  crates/services/txpool/Cargo.toml
  crates/services/txpool/src/lib.rs
  crates/trace/Cargo.toml
  crates/trace/README.md
  crates/trace/src/lib.rs
  crates/trace/tests/tracing.rs
Labels: fuel-core

#939 Re-used `DatabaseColumn` based blanket implementation
  crates/fuel-core/src/database.rs
  crates/fuel-core/src/database/code_root.rs
  crates/fuel-core/src/database/contracts.rs
  crates/fuel-core/src/database/receipts.rs
  crates/fuel-core/src/database/sealed_block.rs
  crates/fuel-core/src/database/storage.rs
  crates/fuel-core/src/database/transactions.rs
Labels: tech-debt

#938 Minor tech-debt: Fixes "TODO" for folder renaming
  crates/fuel-core/src/database.rs
  crates/fuel-core/src/database/transaction.rs
  crates/fuel-core/src/executor.rs
  crates/fuel-core/src/query.rs
  crates/fuel-core/src/query/message.rs
  crates/fuel-core/src/query/message/test.rs
  crates/fuel-core/src/schema/dap.rs
Labels: tech-debt

#933 Tracing on fuel sync
  Cargo.lock
  crates/services/p2p/src/p2p_service.rs
  crates/services/sync/Cargo.toml
  crates/services/sync/src/import.rs
  crates/services/sync/src/lib.rs
  crates/services/sync/src/service.rs
  crates/services/sync/src/state.rs
  crates/services/sync/src/sync.rs
  crates/services/sync/src/tracing_helpers.rs
  crates/services/txpool/src/service.rs
  crates/services/txpool/src/txpool.rs
Labels: fuel-sync, fuel-core

#926 Use postcard instead of bincode for serialization
  Cargo.lock
  crates/chain-config/Cargo.toml
  crates/chain-config/src/config/chain.rs
  crates/fuel-core/Cargo.toml
  crates/fuel-core/src/database.rs
  crates/services/p2p/Cargo.toml
  crates/services/p2p/src/codecs.rs
  crates/services/p2p/src/codecs/postcard.rs
  crates/services/p2p/src/p2p_service.rs
  crates/services/p2p/src/service.rs
Labels: tech-debt

#936 add message validation for gossipsub messages from txpool
  crates/fuel-core/src/service/adapters/txpool.rs
  crates/services/p2p/src/p2p_service.rs
  crates/services/p2p/src/service.rs
  crates/services/txpool/src/ports.rs
  crates/services/txpool/src/service.rs
  crates/services/txpool/src/service/test_helpers.rs
  crates/types/src/services/p2p.rs
Labels: fuel-p2p

#960 Fixed binary publishing for `arm64`
  .github/workflows/ci.yml
  ci/Dockerfile.aarch64-unknown-linux-gnu-clang
  deployment/scripts/chainspec/dev_chainspec.json
Labels: infrastructure

#963 Update to Rust 1.67 and FIx Clippy Lints
  .github/workflows/ci.yml
  benches/benches/set/blockchain.rs
  benches/benches/set/flow.rs
  benches/benches/set/mem.rs
  benches/src/bin/collect.rs
  crates/chain-config/src/config/chain.rs
  crates/chain-config/src/serialization.rs
  crates/client/src/client.rs
  crates/client/src/client/schema/primitives.rs
  crates/fuel-core/src/executor.rs
  crates/fuel-core/src/resource_query.rs
  crates/services/consensus_module/bft/src/service.rs
  crates/services/importer/src/importer.rs
  crates/services/p2p/src/config/fuel_upgrade.rs
  crates/services/p2p/src/discovery.rs
  crates/services/p2p/src/discovery/discovery_config.rs
  crates/services/p2p/src/gossipsub/topics.rs
  crates/services/p2p/src/p2p_service.rs
  crates/services/producer/src/block_producer.rs
  crates/services/producer/src/block_producer/tests.rs
  crates/services/relayer/src/test_helpers/middleware.rs
  crates/services/relayer/tests/integration.rs
  crates/services/txpool/src/service/tests.rs
  crates/services/txpool/src/transaction_selector.rs
  crates/services/txpool/src/txpool/tests.rs
  tests/tests/balances.rs
  tests/tests/coin.rs
  tests/tests/contract.rs
  tests/tests/messages.rs
  tests/tests/metrics.rs
  tests/tests/relayer.rs
  tests/tests/resource.rs
  tests/tests/sync.rs
  tests/tests/sync/helpers.rs
  tests/tests/tx.rs
  tests/tests/tx/txn_status_subscription.rs
  tests/tests/tx/utxo_validation.rs
Labels: enhancement
