Repository FuelLabs/fuel-core, pull requests merged in 2025-07, with the labels that each got.

#3051 chore(ci): unblock spellcheck ci
  crates/services/consensus_module/poa/src/pre_confirmation_signature_service/tests.rs
Labels: no changelog

#3048 The `MaxCoinsReached` error is now thrown when the target reached the max input limit.
  .changes/fixed/3048.md
  crates/fuel-core/src/coins_query.rs
  crates/fuel-core/src/schema/coins.rs
  crates/fuel-core/src/schema/tx/assemble_tx.rs
  tests/tests/coins.rs
  tests/tests/relayer.rs
Labels: bug

#3063 Release v0.45.0
  .changes/added/2959.md
  .changes/added/3027.md
  .changes/added/3054.md
  .changes/breaking/3022.md
  .changes/breaking/3056.md
  .changes/breaking/3058.md
  .changes/changed/3030.md
  .changes/changed/3033.md
  .changes/changed/3060.md
  .changes/changed/3062.md
  .changes/fixed/3048.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  bin/fuel-core/chainspec/local-testnet/chain_config.json
  crates/chain-config/src/config/snapshots/fuel_core_chain_config__config__chain__tests__snapshot_local_testnet_config.snap
  crates/services/upgradable-executor/src/executor.rs
  crates/types/src/blockchain/header.rs
  version-compatibility/forkless-upgrade/chain-configurations/v44/state_transition_bytecode.wasm
  version-compatibility/forkless-upgrade/src/backward_compatibility.rs
Labels: no changelog, pr release

#3065 Release v0.45.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/services/upgradable-executor/src/executor.rs
Labels: no changelog
